<h1>login</h1>

<%= @error %>
<br><br>
<%= form_for(:user) do |f| %>
  username
  <%= f.text_field :username %>

  password
  <%= f.password_field :password %>
<br><br>
  <%= f.submit "log in" %>
<% end %>

<br><br>

<%= button_to "log in with google", '/auth/google_oauth2'  %>