


<%= form_for(@song) do |f| %>
  <div>
    song title
    <%= f.text_field :title %>
  </div>
  <br>
  <div> 
<%= f.fields_for :opera do |o|%>
    name of opera 
  <%= o.text_field :name %>
<% end %>

</div>

  <br>
  <%= f.submit %>
<% end %>





