
<%= form_for(@song) do |f| %>
  <div>
    song title
    <%= f.text_field :title %>
  </div>
  <br>
  <div>

opera name 
  <%= f.fields_for :opera do |o| %>
  <%= o.text_field :name %>
<% end %>

</div>

  <br>
  <%= f.submit %>
<% end %>

