


<%= form_for(@song) do |f| %>
  <div>
    song title
    <%= f.text_field :title %>
  </div>
  <br>
  <div> 
    select the name of the opera
    <%= f.collection_select :opera_id, Opera.all, :id, :name, include_blank: 'select one' %>
<br>
<br>
 or add a new one
  <%= f.fields_for :opera do |o| %>
  <%= o.text_field :name %>
<% end %>

</div>

  <br>
  <%= f.submit %>
<% end %>





