    <div>
      <br><br>
      <%= link_to "add a new song", new_song_path %>  |
      <%= link_to "view all songs", songs_path %> |
      <%# <%= link_to "view all notes", notes_path %> | 
      <%= link_to "view all operas", operas_path %> |
      <%# <%= link_to "view most recent note", note_path(Note.most_recent.id) | %>
      <%= link_to "home", user_path(current_user.id) %> |
      <%= link_to "log out", logout_path, method: :delete %> 
    </div>