<!DOCTYPE html>
<html>
  <head>
    <title>OperaDb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div>
      <%= link_to "all songs", songs_path %> |
      <%= link_to "add a new song", new_song_path %>  |
      <%= link_to "all operas", operas_path %> |
    </div>
    <%= yield %>
  </body>
</html>
